/* common styles */
* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 20px;
}
.section-title {
  color: #272727;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
.text_style {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 40px 0px;
}
#aligned_text {
  text-align: center;
}
/* header related styles */
header {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  padding: 0px 230px;
}
.btn-style a {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.flower_img {
  margin-top: 50px;
  width: 635px;
  height: 800px;
  flex-shrink: 0;
}
.header_text {
  font-weight: bolder;
  font-size: 80px;
  margin-top: 190px;
  color: #272727;
}

/* Featured Section Styles */
.featured-section {
  margin-top: 170px;
}
.featured-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 48px;
}
.featured-container {
  display: flex;
  margin: 20px 240px;
  gap: 25px;
}

.flower_name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}
#first_flower {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 76px 0px;
}
#second_flower {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px;
}
#third_flower {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0px;
}

/* Service Section Style */
.service_container {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 128px 240px;
  gap: 100px;
  padding: 86px 100px 87px;
}
.services {
  color: rgba(39, 39, 39, 0.8);
  align-items: center;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
}

/* Deal Section style */
.deal_container {
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 128px;
}
.deal_announcement {
  margin-top: 230px;
  margin-left: 350px;
  text-align: center;
  max-width: 50%;
}
.deal_section_title {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
#deal_img {
  padding: 100px 0px 100px 130px;
}

/* Products Section */

.products_container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* Subscription Section */
.sub_container {
  background: url("../images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: 128px 180px;
  border-radius: 8px;
  width: 1440px;
  height: 449px;
  flex-shrink: 0;
  text-align: center;
}
#sub_title {
  padding-top: 120px;
}
.input_field {
  width: 700px;
  height: 64px;
  flex-shrink: 0;
}
.btn_sub {
  border: none;
  border-radius: 8px;
  background: #e55473;
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
/* footer related styles */
footer {
  padding: 80px;
  text-align: center;
  color: #fff;
  background-color: #111010;
}
footer > h2 {
  font-weight: 700;
}
.footer-title {
  color: #e55473;
}
.footer-text {
  color: rgba(255, 255, 255, 0.9);
  margin: 20px 0px;
}
.copyright-text {
  color: rgba(255, 255, 255, 0.4);
}
